body {
    background-image: url("assets/The_Hell.webp");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    background-color: rgb(0, 255, 0);
    color: red;
    font-family: system-ui, sans-serif;
}

h1 {
    color: red;
    text-align: center;
}
.hero-img{
    max-height:280px;
    object-fit:cover;
    border:1px solid red;
}

.div1 {
    background-color: red;
    width: 140px;
    height: 120px; 
} ;
.test1 {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    font-size: large;
    display: flex; 
    padding-left: 50px 
}
.card {

background:red

}

.card:hover {
background-image:url("assets/") ;
background-color: blue;
}
figure {
  margin: 0;
}